<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Swipe Card</title>
</head>
<body>
    <div class="container mt-5">
        <h1>Swipe Card</h1>
        <form method="POST">
            <div class="form-group">
              <input type="text" class="form-control" id="user_name" name="user_id" placeholder="Enter user id">
            </div>
            <button type="submit" class="btn btn-primary">Swipe</button>
          </form>
    </div>
</body>
</html>